//variables
//fonts
$font: 'Montserrat', Arial, sans-serif;

//colors
$white5: #fefefe;
$light-grey4: #cbcbcb;
$white9: #fffefe;
$bg: #ffffff;
$black3: #111111;
$blue: #006ac8;
$text: #222222;
$light-grey2: #cccccc;
$black2: #000000;
$yellow: #ffb72d;
$red2: #d1191d;
$black4: #020303;
$light-grey: #a9a9a9;
$brown: #7a5e4c;
$black: #252525;
$aqua: #1e6590;
$blue2: #1060a2;
$white4: #f4f5f5;
$white3: #f5f5f5;
$orange: #ff7f12;
$red: #d42a2d;
$white2: #fafafa;
$light-blue: #00b8ed;
$red3: #c71014;
$white8: #f8f8f8;
$grey: #636363;
$light-grey5: #dadada;
$white: #ebebeb;
$light-grey3: #d7d7d7;
$white7: #e8e8e8;
$white6: #ececec;
$require: red;

//another
$font-size: 15px;

//layout
@import "layout/mixins";
@import "layout/fonts";
@import "layout/smart-grid";
@import "layout/adjustment";
@import "layout/common";

//sections
@import "sections/header";
@import "sections/footer";


.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}