extends ../main

block variables
    - var title = 'Главная'

block content
    main.delivery
        //- breadcrumbs
        .container
            .bread
                a(href='/').bread__item Главная
                +icon('angle-r','bread__seporator')
                span.bread__item.bread__item_active Как оформить заказ
        //- row
        section.contacts__row
            .container
                .row
                    //- left
                    .left.contacts__left
                        //- nav
                        .contacts__nav.delivery__nav
                            +deliveryNav(1)
                        //- blog
                        .contacts__blog.list__blog.list__blog_t.delivery__blog
                            +blog([1, 2])
                        //- news
                        .index__news.delivery__news
                            .inews
                                .inews__top
                                    .inews__title.title Новости
                                    a(href='news.html').inews__link.link Смотреть все
                                .inews__list
                                    +new([1])


                    //- right
                    .right.contacts__right.delivery__right
                        //- nav
                        .contacts__nav.contacts__nav_t.delivery__nav
                            +deliveryNav(1)
                        //- title
                        .contacts__title.delivery__title Как оформить заказ
                        //- sub
                        .delivery__sub Оформить заказ на нашем сайте легко. Просто добавьте выбранные товары в корзину, а затем перейдите на страницу Корзина, проверьте правильность заказанных позиций и нажмите кнопку «Оформить заказ» или «Быстрый заказ».
                        //- content
                        .delivery__content
                            .content
                                h3 Быстрый заказ
                                p
                                    | Функция «Быстрый заказ» позволяет покупателю не проходить всю процедуру оформления заказа самостоятельно. Вы заполняете форму, и через короткое время вам перезвонит менеджер магазина. Он уточнит все условия заказа, ответит на вопросы, касающиеся качества товара, его особенностей. А также подскажет о вариантах оплаты и доставки.
                                    | По результатам звонка, пользователь либо, получив уточнения, самостоятельно оформляет заказ, укомплектовав его необходимыми позициями, либо соглашается на оформление в том виде, в котором есть сейчас. Получает подтверждение на почту или на мобильный телефон и ждёт доставки.
                                h3 Оформление заказа в стандартном режиме
                                p Если вы уверены в выборе, то можете самостоятельно оформить заказ, заполнив по этапам всю форму.
                                h4(style='margin-bottom: 0;') Юридические данные
                                p Введи в поле «Данные юр.лица» юридическое название вашей организации или ФИО индивидуального предпринимателя. В поле «ИНН» введите ваш текущий номер ИНН. Так же прикрепите файл с вашеми реквизитами.
                                h4(style='margin-bottom: 0;') Доставка
                                p
                                    |Выберите любой удобный способ для вас способ доставки из предложенного списка, для этого клините по полю, после этого появится выпадающий список всех возможных вариантов доставки. Подробнее об условиях доставки читайте в разделе «
                                    a(href='delivery.html') Доставка
                                    |». В поля «Город», «Улица», «Дом», «Кв», введите адрес, по которому требуется осуществить доставку заказа.
                                h4(style='margin-bottom: 0;') Оплата
                                p
                                    |Выберите оптимальный способ оплаты. Подробнее о всех вариантах читайте в разделе «
                                    a(href='payment.html') Оплата
                                    |»
                                h4(style='margin-bottom: 0;') Оформление заказа
                                p Проверьте правильность ввода информации: позиции заказа, выбор местоположения, данные о покупателе, итоговую сумму с учетом варианта доставки (в правой колонке). Нажмите кнопку «Подтвердить заказ».










