.btn {
  width: 160px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  color: $text;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  box-sizing: border-box;
  @include tr3s;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }


  &_g {
    border: 1px solid $white;
    background-color: $white2;
    color: $text;

    &:hover,&.active {
      background-color: $red;
      border: 1px solid $red;
      color: $bg;
    }
  }

  &_r {
    border: 1px solid $red;
    background-color: $red;
    color: $bg;
  }

  &_w {
    border: 1px solid $white;
    background-color: $bg;
    color: $text;

    &:hover {
      background-color: $white2;
    }
  }

  &_b {
    border: 1px solid $text;
    background-color: $text;
    color: $bg;

    &:hover {
      border: 2px solid $text;
      background-color: transparent;
      box-shadow: none;
      color: $text;
    }
  }

  &.disabled {
    opacity: .5;
  }
}

.title {
  color: $text;
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
  @include sm-block {
    font-size: 18px;
  }
}

.link {
  color: $blue;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}

.slider {

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include lg-block {
      margin-bottom: 14px;
    }
  }

  &__title {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    @include sm-block{
      padding-right: 10px;
    }

    &:after {
      content: '';
      height: 1px;
      flex-grow: 1;
      background-color: $white;
      margin-left: 40px;
      @include sm-block {
        display: none;
      }
    }
  }

  &__nav {
    min-width: 120px;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid $white;
    background-color: $bg;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sm-block {
      width: 100px;
      min-width: 100px;
    }
  }

  &__container {
    padding-bottom: 10px;
  }

  &__slide {
    box-sizing: border-box;
    height: auto;
  }
}

.arrow {
  margin-right: 20px;

  &:hover {
    .arrow__svg {
      fill: $red;
    }
  }


  &.swiper-button-disabled {
    opacity: .5;
    pointer-events: none;
  }

  &:last-child {
    margin-right: 0;
  }

  &__svg {
    width: 28px;
    height: 15px;
    fill: $text;
    @include tr3s;
    @include sm-block {
      // Style for "Shape 2"
      width: 20px;
      height: 11px;
    }
  }
}

.bread {
  display: flex;
  align-items: center;
  padding: 30px 0;
  @include sm-block {
    padding: 20px 0;
  }

  &__item {
    color: $text;
    font-size: 10px;
    line-height: 1;
    opacity: 0.5;

    &_active {
      opacity: 1;
    }
  }

  &__seporator {
    opacity: 0.5;
    width: 4px;
    height: 8px;
    fill: $text;
    margin: 0 20px;
  }
}

.left {
  @include col;
  @include size(3);
  @include size-lg(15);
  @include lg-block {
    order: 1;
  }
}

.right {
  @include col;
  @include size(12);
  @include size-lg(15);
}

.item {
  border-radius: 8px;
  border: 1px solid $white;
  background-color: $bg;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  @include tr3s;

  &_actions {
    border-radius: 0 0 8px 8px;
  }

  &_4 {
    @include col;
    @include size(15/4);
    @include size-lg(15/3);
    @include size-sm(15);
    margin-bottom: 30px;
    height: auto;
  }

  &_s {
    .item {
      &__pricing, &__buttons {
        display: none;
      }

      &__pricing {
        @include lg-block {
          display: flex;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

    .item__quick{
      opacity: 1;
    }
  }

  &__top {
    padding: 60px 54px;
    padding-bottom: 55px;
    position: relative;
    @include lg-block {
      padding: 50px 47px;
      padding-bottom: 35px;
    }
    @include sm-block {
      padding-bottom: 50px;
    }
  }

  &__img {
    overflow: hidden;
  }

  &__quick{
    width: 174px;
    height: 40px;
    border-radius: 6px;
    background-color: rgba($light-grey5,.9);
    color: #535353;
    font-size: 14px;
    font-weight: 400;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -87px;

    @include tr3s;
    @include sm-block{
      display: none;
    }
  }

  &__pic {
    display: block;
  }

  &__controls {
    position: absolute;
    top: 30px;
    right: 20px;
  }

  &__control {
    margin-bottom: 20px;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }

    &-svg {
      width: 22px;
      height: 20px;
      fill: $text;
    }
  }

  &__bottom {
    padding: 20px;
    padding-top: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__cat {
    color: $black;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__title {
    color: $blue;
    font-size: 12px;
    font-weight: 500;
    line-height: lh(12, 21);
    letter-spacing: 0.72px;
    margin-bottom: 13px;
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    &-count {
      color: rgba($text, .2);
      font-size: 12px;
      font-weight: 600;
    }
  }

  &__stars {
    display: flex;
    margin-right: 10px;
  }

  &__star {
    fill: rgba($light-grey2, .3);
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      fill: $yellow;
    }

    &-svg {
      width: 14px;
      height: 13px;

    }


  }

  &__pricing {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 27px;
    margin-top: auto;
    @include lg-block {
      margin-bottom: 15px;
    }
    @include sm-block {
      margin-bottom: 25px;
    }
  }

  &__oldprice {
    @include lg-block {
      display: none;
    }
    @include sm-block {
      display: flex;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    @include lg-block {
      flex-wrap: wrap;
    }
  }

  &__one {
    @include lg-block {
      width: 100%;
      margin-bottom: 10px;
    }
    @include sm-block {
      margin-bottom: 0;
      width: 160px;
    }
  }

  &__buy {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tr3s;
    @include lg-block {
      width: 100%;
    }
    @include sm-block {
      width: 50px;
    }

    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    &-title {
      display: none;
      color: $bg;
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      margin-right: 20px;

      @include lg-block {
        display: block;
      }
      @include sm-block {
        display: none;
      }
    }

    &-svg {
      width: 23px;
      height: 25px;
      fill: $bg;
      @include tr3s;
    }

  }

}

.sort {
  width: 200px;
  @include sm-block {
    width: 195px;
  }
}

.count {
  width: 70px;
  @include sm-block {
    width: 65px;
  }
}

.select {
  height: 50px;

  &.selectize-control.single .selectize-input {
    border-radius: 6px;
    border: 1px solid $white;
    background-color: $bg;
    background-image: none;
    padding: 14.5px 15px;
    box-shadow: none;
  }

  .item {
    color: $text;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.48px;
    border: none;
    display: inline;
    height: auto;
    position: static;

    &:hover {
      box-shadow: none;
    }
  }

  &.selectize-control.single .selectize-input:after {
    width: 8px;
    height: 4px;
    margin-top: -2px;
    border: none;
    background: url("/images/icons/angle.svg") 0 0 no-repeat;
    background-size: cover;
  }

  .selectize-dropdown.single {
    border-color: $white;
    border-radius: 6px;
    box-shadow: none;
    overflow: hidden;
    height: auto;
  }
}

.blog {
  @include lg-block {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: block;
    border-radius: 8px;
    background-color: $white4;
    overflow: hidden;
    margin-bottom: 30px;
    @include tr3s;
    @include lg-block {
      @include col;
      margin-bottom: 0;
    }
    @include size-lg(15/2);
    @include size-sm(15);
    @include sm-block {
      margin-bottom: 30px;
    }


    &:last-child {
      margin-bottom: 0;

    }

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    }
  }

  &__img {
    display: block;
    width: 100%;
  }
}

.price {
  color: $text;
  display: flex;
  align-items: flex-end;
  line-height: 1;
  position: relative;

  &__val {
    font-size: 21px;
    font-weight: 700;
    margin-right: 10px;
  }

  &__cur {
    font-size: 12px;
    font-weight: 600;
  }

  &_old {
    color: rgba($text, .5);

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      top: 50%;
      margin-top: 1px;
      background-color: $light-grey;
    }

    .price {
      &__val {
        font-size: 15px;
        margin-right: 5px;
      }

      &__cur {
        font-size: 10px;
      }
    }
  }
}

.actions {
  &__top {
    @include top;
  }
}

.timer {
  border-radius: 8px 8px 0 0;
  background-color: $red;
  padding: 20px 24px 40px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    width: 45px;
    height: 45px;
    border-radius: 6px;
    background-color: $bg;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-weight: 600;
    position: relative;

    &:after {
      content: attr(data-name);
      display: block;
      position: absolute;
      top: calc(100% + 10px);
      text-align: center;
      left: 0;
      right: 0;
      color: $bg;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.4px;
    }
  }
}

.inews {

  &__top {
    @include top;
  }

  &__list {

  }
}

.new {
  border-radius: 8px;
  border: 1px solid $white;
  background-color: $bg;
  overflow: hidden;
  display: block;
  margin-bottom: 30px;
  @include tr3s;

  &:last-child {
    margin-bottom: 0;
    @include lg-block{
      display: none;
    }
  }

  &:nth-child(1){
    display: block;
  }

  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  }

  &__img {
    height: 169px;
    overflow: hidden;
    position: relative;
  }

  &__date {
    position: absolute;
    top: 20px;
    left: 20px;
    color: $black;
    font-size: 12px;
    font-weight: 600;
  }

  &__pic {
    width: 100%;
  }

  &__content {
    padding: 25px 20px;
  }

  &__title {
    color: $blue;
    font-size: 15px;
    font-weight: 800;
    line-height: lh(15, 21);
    margin-bottom: 7px;
  }

  &__desc {

    color: $black;
    font-size: 12px;
    line-height: lh(12, 18);
    letter-spacing: 0.72px;
  }
}

.revs {
  &__top {
    @include top;
  }
}

.rev {
  border-radius: 8px;
  border: 1px solid $white;
  background-color: $bg;
  overflow: hidden;
  display: block;
  @include tr3s;

  &_2 {
    @include lg-block{
        @include col;
    }
    @include size-lg(15/2);
  }

  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

    .rev__link {
      background-color: $red;
      color: $bg;
    }

  }

  &__top {
    padding: 30px 75px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
  }

  &__bottom {
    border-bottom: 1px solid $white;
    text-align: center;
    padding: 25px;
    padding-top: 0;
    color: $black;
  }

  &__author {
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 12px;
  }

  &__prof {
    font-size: 12px;
    font-weight: 500;
    line-height: lh(12, 18);
    letter-spacing: 0.72px;
  }

  &__link {
    color: $black;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.72px;
    padding: 25px 0;
    text-align: center;
    display: block;
    background-color: $white2;
    @include tr3s;
  }
}

.part {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px solid $white;
  background-color: $bg;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  height: 121px;
  @include tr3s;

  &:hover {
    background-color: $red;

    .part {
      &__svg {
        stroke: $bg;
      }

      &__title {
        color: $bg;
      }
    }
  }

  &__img {
    min-width: 62px;
    width: 62px;
    height: 54px;
    margin-right: 23px;
  }

  &__svg {
    max-width: 100%;
    max-height: 100%;
    fill: transparent;
    stroke: $text;
    @include tr3s;
  }

  &__title {
    color: $black2;
    font-size: 15px;
    font-weight: 800;
    line-height: lh(15, 21);
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: $light-grey3;
    }
    @include tr3s;
  }
}


