.btn {
  width: 160px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  color: $text;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  box-sizing: border-box;
  @include tr3s;

  &:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }


  &_g{
    border: 1px solid $white;
    background-color: $white2;
    color: $text;

    &:hover{
      background-color: $red;
      border: 1px solid $red;
      color: $bg;
    }
  }

  &_r{
    border: 1px solid $red;
    background-color: $red;
    color: $bg;
  }

  &_w{
    border: 1px solid $white;
    background-color: $bg;
    color: $text;

    &:hover{
      background-color: $white2;
    }
  }

  &_b{
    border: 1px solid $text;
    background-color: $text;
    color: $bg;

    &:hover{
      border: 2px solid $text;
      background-color: transparent;
      box-shadow: none;
      color: $text;
    }
  }

  &.disabled {
    opacity: .5;
  }
}

.title {
  color: $text;
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
  @include sm-block{
    font-size: 18px;
  }
}

.link {
  color: $blue;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}

.slider {

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include lg-block{
      margin-bottom: 14px;
    }
  }

  &__title{
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;

    &:after{
      content: '';
      height: 1px;
      flex-grow: 1;
      background-color: $white;
      margin-left: 40px;
      @include sm-block{
        display: none;
      }
    }
  }

  &__nav {
    min-width: 120px;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid $white;
    background-color: $bg;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sm-block{
      width: 100px;
      min-width: 100px;
    }
  }

  &__container {
    padding-bottom: 10px;
  }

  &__slide{
    box-sizing: border-box;
    height: auto;
  }
}

.arrow{
  margin-right: 20px;
  &:hover{
    .arrow__svg{
      fill: $red;
    }
  }


  &.swiper-button-disabled{
    opacity: .5;
    pointer-events: none;
  }

  &:last-child{
    margin-right: 0;
  }
  &__svg {
    width: 28px;
    height: 15px;
    fill: $text;
    @include tr3s;
    @include sm-block{
      // Style for "Shape 2"
      width: 20px;
      height: 11px;
    }
  }
}