//variables
$vh: 1080;

@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@mixin tr3s(){
  transition: .3s;
}

@function lh($size1, $size2) {
  $lh: $size2 / $size1;
  @return $lh;
}

@function vh($size) {
  @return $size/$vh *100*1vh;
}

@mixin content() {
  ul {
    padding-left: 15px;
    list-style: disc;
    margin-bottom: 45px;
    li{
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 2px;
      line-height: lh(15,30);
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  ol {
    padding-left: 15px;
    list-style: decimal;
    margin-bottom: 45px;

    li{
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 2px;
      line-height: lh(15,30);
      &:last-child{
        margin-bottom: 0;
      }
    }
  }




  h1 {
    margin: 0.67em 0;
  }
  h2 {
    margin: 0.83em 0;
  }
  h3 {
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 800;
    @include lg-block{
      font-size: 30px;
      margin-bottom: 15px;
    }
    @include sm-block{
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  h4 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 30px;
  }
  h5 {
    margin: 1.67em 0;
  }
  h5 {
    margin: 2.33em 0;
  }
  p {
    margin-bottom: 30px;
    font-weight: 400;
    line-height: lh(15,30);
  }
}

@mixin headers() {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}

@mixin top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 35px;
}