.header {

  &__top {
    background-color: $text;
    //padding: 7px 0;
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include sm-block {
        justify-content: flex-end;
      }
    }
  }

  &__contacts {
    @include lg-block {
      display: none;
    }
  ;
  }

  &__menu {
    display: flex;
    margin-left: -33px;
    margin-right: -33px;
    @include sm-block {
      display: none;
    }
  }

  &__item {
    opacity: 0.3;
    color: $bg;
    font-size: 12px;
    padding: 0 33px;
    border-right: 1px solid $bg;

    &:last-child {
      border-right: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__search {
    width: 36px;
    height: 36px;
    //border-radius: 4px;
    //background-color: $bg;
    //opacity: 0.1;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-svg {
      width: 17px;
      height: 18px;
      fill: $bg;
    }
  }

  &__middle {
    padding: 40px 0;
    border-bottom: 1px solid $white;
    @include sm-block{
      padding-bottom: 20px;
    }

    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include sm-block {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  }

  &__logo {
    @include sm-block {
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
    }
  }

  &__order {
    display: flex;
    align-items: center;
  }

  &__controls {
    display: flex;
    margin-right: 20px;
    @include sm-block{
      margin-right: 10px;
    }
  }

  &__control {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid $white;
    background-color: $bg;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tr3s;
    @include sm-block {
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover, &:active, &:focus {
      background: $red;

      .header__control-svg {
        fill: $bg;
      }
    }

    &-svg {
      width: 21px;
      height: 21px;
      @include tr3s;
    }
  }

  &__bottom {
    border-bottom: 1px solid $white;
    background-color: $bg;
    .row {
      @include sm-block{
        margin: 0;
      }
    }
  }

  &__catalog {
    @include col;
    @include size(3);
    @include size-lg(6.2);
    @include sm-block{
      width: calc(100% - 60px);
      margin: 0;
    }
  }

  &__nav {
    @include col;
    @include size(12);
    @include size-lg(8.8);
    @include sm-block{
      width: 60px;
      margin: 0;
    }
  }

}

.user {
  display: flex;
  align-items: center;

  &__link {
    min-width: 86px;
    height: 50px;
    background-color: rgba($bg, .1);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 30px;


    color: $bg;
    font-size: 10px;
    font-weight: 300;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &_d {
      background-color: rgba($bg, .03);
    }

    &-svg {
      width: 17px;
      height: 16px;
      fill: $bg;
      margin-right: 20px;
    }
  }
}

.logo {
  &__img {
    display: block;
  }
}

.hcontacts {
  display: flex;
  align-items: center;
  @include lg-block {
    flex-wrap: wrap;
  }
  @include sm-block{
      justify-content: space-between;
  }
}

.hcontact {
  margin-right: 80px;
  font-size: 12px;
  @include lg-block {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
  }
  @include sm-block{
    width: auto;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  &__name {
    letter-spacing: 2.88px;
    margin-bottom: 15px;
  }

  &__link {
    font-weight: 700;
    letter-spacing: 0.72px;
  }
}

.cart {
  width: 200px;
  height: 60px;
  border-radius: 8px;
  background-color: $red;
  color: $bg;
  display: flex;
  align-items: center;
  overflow: hidden;
  @include sm-block{
    width: 170px;
  }

  &__left {
    width: 59px;
    height: 100%;
    background-color: rgba($bg, .1);
    margin-right: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sm-block{
      width: 50px;
      margin-right: 10px;
    }
  }

  &__svg {
    width: 19px;
    height: 21px;
    fill: $bg;
  }

  &__count {
    &-val {
      font-size: 18px;
      font-weight: 700;
    }

    &-type {
      font-size: 10px;
    }
  }

  &__price {
    &-val {
      font-size: 12px;
      font-weight: 700;
    }

    &-type {
      font-size: 10px;
    }
  }
}

.submenu {
  display: none;
  &.active {
    display: block;
  }
  width: 240px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid $white;
  background-color: $bg;
  position: absolute;
  z-index: 100;
  top: 0;
  left: calc(100% + 10px);
  padding: 10px 20px;

  &__item {
    display: block;

    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    font-size: 12px;
    letter-spacing: 0.72px;
    transition: .3s;
    padding: 10px 0;
    @include tr3s;

    &:hover {
      font-weight: 700;
      color: $red;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu {
  display: none;

  &.active {
    display: block;
  }

  position: absolute;
  z-index: 100;
  left: 0;
  top: calc(100% + 10px);
  width: 343px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid $white;
  background-color: $bg;
  @include sm-block{
    width: 270px;
  }

  &__list {
    padding: 8px 30px 8px 20px;
  }

  &__hidden {
    display: none;
  }

  &__item {


    &:hover {

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: calc(100% - 35px);
        top: 0;
        bottom: 0;
        width: 100px;
      }

      .menu {
        &__pic {
          stroke: $red;
          @include lg-block {
            stroke: rgba($text, .5);
          }
        }

        &__title {
          @include lg-block {
            color: $black;
          }
          color: $red;
        }

        &__svg {
          @include lg-block {
            fill: $text;
          }
          fill: $red;
        }
      }

      .submenu {
        display: block;
        @include lg-block {
          display: none;
        }
      }

    }

    &.active {

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: calc(100% - 35px);
        top: 0;
        bottom: 0;
        width: 100px;
      }

      .menu {
        &__pic {
          stroke: $red;
        }

        &__title {
          color: $red;
        }

        &__svg {
          fill: $red;
        }
      }

      .submenu {
        display: block;
        @include sm-block{
          display: none;
        }
      }

    }
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
  }

  &__img {
    min-width: 35px;
    width: 35px;
    height: 30px;
    margin-right: 20px;
  }

  &__pic {
    max-width: 100%;
    max-height: 100%;
    stroke: rgba($text, .5);
    fill: transparent;
    @include tr3s;
  }

  &__title {
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    color: $black;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.72px;
    @include tr3s;
  }

  &__svg {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -4px;
    width: 4px;
    height: 8px;
    max-width: 100%;
    max-height: 100%;
    @include tr3s;
    @include sm-block{
      display: none;
    }
  }

  &__more {
    background-color: $white2;
    border-top: 1px solid $white;
    text-align: center;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 23px 0;

    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.72px;

    &-text {
      &:last-child {
        display: none;
      }
    }

    &.open {
      .menu__more-text {
        display: none;

        &:last-child {
          display: block;
        }
      }
    }
  }

}

.menu-link {
  border-left: 1px solid $white;
  border-right: 1px solid $white;
  position: relative;
  @include tr3s;

  &.active {
    background-color: $red;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      height: 20px;
      left: 0;
      right: 0;
    }

    .menu-link {
      &__round {
        background-color: $bg;
      }

      &__title {
        color: $bg;
      }

      &__svg {
        transform: rotate(-180deg);
        fill: $bg;
      }
    }

    .menu {
      display: block;
    }
  }

  &__wrap {
    display: flex;
    align-items: stretch;
  }

  &__left {
    width: 55px;
    border-right: 1px solid $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include sm-block{
      display: none;
    }
  }

  &__round {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: $red;
    margin-bottom: 3px;
    transition: .3s;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    padding: 25px 33px;
    position: relative;
    flex-grow: 1;
  }

  &__title {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    @include tr3s;
  }

  &__svg {
    width: 10px;
    height: 6px;
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -3px;
    @include tr3s;
  }
}

.nav {
  border-right: 1px solid $white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include lg-block {
    display: none;
  }

  &__item {
    width: calc(100% / 6);
    position: relative;

    &:hover {
      .subnav {
        display: block;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 100;
        top: 100%;
        height: 20px;
        left: 0;
        right: 0;
      }

      .nav {
        &__item {
          &-text {
            color: $red;
          }
        }
      }
    }

    &:last-child {
      .nav {
        &__item {
          &-title {
            &:after {
              display: none;
            }
          }
        }
      }
    }

    &-title {
      position: relative;
      padding: 25px 0;
      display: flex;
      align-items: center;
      justify-content: center;


      &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 100;
        top: 50%;
        margin-top: -5.5px;
        right: 0;
        width: 1px;
        height: 11px;
        background-color: $white;
      }
    }

    &-text {
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      text-align: center;
      @include tr3s;
    }

    &-svg {
      width: 10px;
      height: 6px;
      margin-left: 40px;
    }
  }
}

.mmenu-btn {
  display: none;
  position: relative;
  @include lg-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  &.active{
    .mmenu {
      display: block;
    }
  }

  &__title {
    color: $text;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-right: 20px;
    @include sm-block{
      display: none;
    }
  }

  &__btn {
    width: 61px;
    height: 100%;
    background-color: $red;
  }

  &__svg {
    width: 26px;
    height: 18px;
    fill: $bg;
  }
}

.subnav {
  display: none;
  width: 220px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid $white;
  background-color: $bg;
  position: absolute;
  z-index: 100;
  top: calc(100% + 10px);
  left: 50%;
  margin-left: -110px;
  padding: 10px 20px;


  &__item {
    display: block;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: 10px 0;
    @include tr3s;

    &:hover {
      font-weight: 700;
      color: $red;
    }
  }
}

.mmenu {
  position: absolute;
  z-index: 100;
  right: 0;
  top: calc(100% + 10px);
  width: 270px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid $white;
  background-color: $bg;
  display: none;
  padding: 8px 30px 8px 20px;

  &__item {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;

    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    color: $black;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.72px;
    @include tr3s;
  }
}