.popup{
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($black,.7);
  display: none;

  &.active {
    display: block;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form {
    width: 270px;
    margin: 0 auto;

    &.form {
      @include md-block{
        max-height: 100vh;
      }
      padding: 20px;
    }
  }
}

.form {
  border-radius: 8px;
  border: 1px solid $white;
  background-color: $white2;
  padding: 40px 30px;
  position: relative;
  overflow-y: auto;
  @include lg-block{
    padding: 40px 20px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    &-svg {
      width: 14px;
      height: 14px;
      fill: $text;
      stroke: $white7;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 25px;
  }

  &__product {
    margin-bottom: 20px;
  }

  &__fields {
    margin-bottom: 15px;
  }

  &__field {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid $white;
    background-color: $bg;
    color: $text;
    font-size: 12px;
    padding: 17px 20px;

    &::placeholder{
      color: rgba($text,.7);
    }

    &_area {
      height: 72px;
    }

  }

  &__info {
    font-size: 10px;
    line-height: lh(10,18);
    margin-bottom: 30px;
    letter-spacing: 0.6px;
    @include sm-block{
      margin-bottom: 15px;
    }
    a{
      color: $blue;
    }

  }

  &__submit {
    width: 230px;
    margin: 0 auto;
  }
}

.fproduct {
  border-radius: 8px;
  border: 1px solid $white;
  background-color: $bg;
  padding: 20px;

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  &__img {
    width: 65px;
  }

  &__cat {
    color: $black;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__link {
    color: $blue;
    font-size: 10px;
    font-weight: 500;
    line-height: lh(10,18);
    margin-bottom: 15px;
    display: block;
  }

  &__price {

    &-val{
      font-size: 18px;
      font-weight: 700;
    }
    &-cur{
      font-size: 10px;
      font-weight: 600;
    }
  }
}

.fpopup{
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($black,.7);
  display: none;

  &.active {
    display: block;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.fbuy{
  width: 900px;
  background-color: $bg;
  border-radius: 10px;
  overflow: hidden;

  &__top{
    position: relative;
    padding: 35px 45px 25px 35px;
    border-bottom: 1px solid #ebebeb;
  }

  &__title{
    font-size: 22px;
    font-weight: 700;
    line-height: 142%;
    max-width: 531px;
  }

  &__close{
    width: 19px;
    height: 19px;
    fill: #b7b7b7;
    position: absolute;
    top: 50%;
    margin-top: -9.5px;
    right: 50px;

    &-svg{
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__bottom{
    display: flex;
    flex-wrap: wrap;
  }

  &__left{
    width: 50%;
    position: relative;
    border-right: 1px solid #ebebeb;

    &-top{
      border-bottom: 1px solid #ebebeb;
    }

    &-bottom{
      @include row-flex;
      align-items: center;
      padding: 13px 0;
    }
  }

  &__slider{
    border: none;
    &-prev{
      @extend .product__slider-prev;
    }
    &-next{
      @extend .product__slider-next;
    }
  }

  &__slide{
    height: 328px;
  }

  &__adds{
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 30px;
    display: flex;
  }

  &__add{
    margin-right: 20px;

    &.active,&:hover{
      .fbuy__add-svg{
        fill: black;
      }
    }

    &:last-child{
      margin-right: 0;
    }
    &-svg{
      width: 25px;
      height: 22px;
      fill: #838383;
      @include tr3s;
    }
  }

  &__price{
    @include col;
    @include size(8);
    padding-left: 30px;
    margin-right: 0;
    width: calc(53.33333% - 15px);


    .product__price{
      display: block;
      padding: 0;
      border-bottom: none;
      margin-bottom: 10px;

      &-title{
        margin-right: 0;
        margin-bottom: 5px;

      }
    }

    .product__rating{
      margin: 0;
      padding: 0;
      width: 100%;

      &-count{
        font-size: 12px;
      }
    }

    .product__stars{
      margin-right: 5px;
    }

  }

  &__btns{
    @include col;
    @include size(7);
    display: flex;
    justify-content: center;


    &-wrap{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 140px;
    }
  }

  &__notanabled{
    @include col;
    @include size(7);

    color: $red;
    font-size: 15px;
    line-height: 142%;
  }

  &__buy{
    width: 50px;
    height: 50px;
    border-radius: 4px;

    &-svg{
      width: 19px;
      height: 19px;
      fill: $bg;
    }
  }

  &__one{
    width: 100%;
    margin-top: 10px;
  }

  &__right{
    width: 50%;
    background-color: $white2;
  }

  &__chars{

    &-title{
      color: $black2;
      font-size: 18px;
      font-weight: 800;
      padding: 22px 30px 22px 30px;
      border-bottom: 1px solid #ebebeb;
      background-color: $bg;
    }

    &-list{
      padding: 30px 0 30px 30px;
      margin-right: 15px;
      height: 391px;
      overflow-y: auto;

      &::-webkit-scrollbar{
        width: 3px;
      }

      &::-webkit-scrollbar-track {
        background-color: #f2f2f2;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #c2c2c2;
      }
    }

  }

}