-
    var menu = [
    {
    title: 'Новости',
    href: 'news.html'
    },
    {
    title: 'Акции',
    href: 'news.htmk'
    },
    {
    title: 'Отзывы',
    href: 'reviews.html'
    }
    ];
-
    var hcontacts = [
    {
    name: 'Телефон',
    href: 'tel:+7(495)260-12-35',
    val: '+7 (495) 260-12-35'
    },
    {
    name: 'E-mail',
    href: 'mailto:info@bitmarket.ru',
    val: 'info@bitmarket.ru'
    },
    {
    name: 'Адрес',
    href: 'https://yandex.ru/maps/-/CGWV5UnB',
    val: 'г. Москва, ул. 2-я Новорублевская, д.13А'
    }
    ];
-
    var nav = [
    {
    title: 'Главная',
    href: '/'
    },
    {
    title: 'О компании',
    href: 'about.html',
    dopClass: 'active',
    submenu: true
    },
    {
    title: 'Оплата',
    href: 'info.html'
    },
    {
    title: 'Доставка',
    href: 'info.html'
    },
    {
    title: 'Гарантии',
    href: 'info.html'
    },
    {
    title: 'Контакты',
    href: 'contacts.html'
    }
    ];
-
    var menu2 = [
    {
    title: 'Видеокарты',
    svg: 'cat20'
    },
    {
    title: 'Жесткие диски (HDD), SDD',
    svg: 'cat20'
    },
    {
    title: 'Звуковые карты',
    svg: 'cat6'
    },
    {
    title: 'Материнские платы',
    svg: 'cat7'
    },
    {
    title: 'Оперативная память',
    svg: 'cat10'
    },
    {
    title: 'Процессоры',
    svg: 'cat19'
    },
    {
    title: 'Система охлаждения',
    svg: 'cat11'
    }
    ];
-
    var fmenu = [
    {
    title: 'Компания',
    list:[
    {
    title: 'Главная',
    href: '/'
    },
    {
    title: 'О компании',
    href: 'about.html'
    },
    {
    title: 'Оплата',
    href: 'info.html'
    },
    {
    title: 'Доставка',
    href: 'info.html'
    },
    {
    title: 'Гарантии',
    href: 'info.html'
    },
    {
    title: 'Контакты',
    href: 'contacts.html'
    }
    ]
    },
    {
    title: 'Клиенту',
    list:[
    {
    title: 'Новости',
    href: 'news.html'
    },
    {
    title: 'Акции',
    href: 'news.html'
    },
    {
    title: 'Отзывы',
    href: 'reviews.html'
    },
    {
    title: 'Личный кабинет',
    href: 'cabinet.html'
    },
    {
    title: 'Избранное',
    href: 'cabinet.html'
    },
    {
    title: 'В сравнении',
    href: 'cabinet.html'
    }
    ]
    },

    ];
-
    var ipopular = [
        {
            title: 'Видеокарты',
            svg: 'cat20'
        },
        {
            title: 'Материнские платы',
            svg: 'cat7'
        },
        {
            title: 'Оперативная память',
            svg: 'cat10'
        },
        {
            title: 'Жесткие диски',
            svg: 'cat9'
        },
        {
            title: 'Звуковые карты',
            svg: 'cat6'
        },
        {
            title: 'Процессоры',
            svg: 'cat19'
        },
        {
            title: 'Система Охлаждения',
            svg: 'cat11'
        },
        {
            title: 'Сетевое оборудование',
            svg: 'cat8'
        },
        {
            title: 'Видеокарты',
            svg: 'cat20'
        },
        {
            title: 'Материнские платы',
            svg: 'cat7'
        },
        {
            title: 'Оперативная память',
            svg: 'cat10'
        },
        {
            title: 'Жесткие диски',
            svg: 'cat9'
        },
        {
            title: 'Звуковые карты',
            svg: 'cat6'
        },
        {
            title: 'Процессоры',
            svg: 'cat19'
        },
        {
            title: 'Система Охлаждения',
            svg: 'cat11'
        },
        {
            title: 'Сетевое оборудование',
            svg: 'cat8'
        },

    ];