-
    var menu = [
    {
    title: 'Новости',
    href: 'news.html'
    },
    {
    title: 'Акции',
    href: 'news.html'
    },
    {
    title: 'Отзывы',
    href: 'reviews.html'
    }
    ];
-
    var hcontacts = [
    {
    name: 'Телефон',
    href: 'tel:+7(495)260-12-35',
    val: '+7 (495) 260-12-35'
    },
    {
    name: 'E-mail',
    href: 'mailto:info@bitmarket.ru',
    val: 'info@bitmarket.ru'
    },
    {
    name: 'Адрес',
    href: 'https://yandex.ru/maps/-/CGWV5UnB',
    val: 'г. Москва, ул. 2-я Новорублевская, д.13А'
    }
    ];
-
    var nav = [
    {
    title: 'Главная',
    href: '/'
    },
    {
    title: 'О компании',
    href: 'about.html',
    dopClass: 'active',
    submenu: true
    },
    {
    title: 'Оплата',
    href: 'payment.html'
    },
    {
    title: 'Доставка',
    href: 'delivery.html'
    },
    {
    title: 'Гарантии',
    href: 'info.html'
    },
    {
    title: 'Контакты',
    href: 'contacts.html'
    }
    ];
-
    var menu2 = [
    {
    title: 'Видеокарты',
    svg: 'cat20'
    },
    {
    title: 'Жесткие диски (HDD), SDD',
    svg: 'cat20'
    },
    {
    title: 'Звуковые карты',
    svg: 'cat6'
    },
    {
    title: 'Материнские платы',
    svg: 'cat7'
    },
    {
    title: 'Оперативная память',
    svg: 'cat10'
    },
    {
    title: 'Процессоры',
    svg: 'cat19'
    },
    {
    title: 'Система охлаждения',
    svg: 'cat11'
    }
    ];
-
    var fmenu = [
    {
    title: 'Компания',
    list:[
    {
    title: 'Главная',
    href: '/'
    },
    {
    title: 'О компании',
    href: 'about.html'
    },
    {
    title: 'Оплата',
    href: 'payment.html'
    },
    {
    title: 'Доставка',
    href: 'delivery.html'
    },
    {
    title: 'Гарантии',
    href: 'how.html'
    },
    {
    title: 'Контакты',
    href: 'contacts.html'
    }
    ]
    },
    {
    title: 'Клиенту',
    list:[
    {
    title: 'Новости',
    href: 'news.html'
    },
    {
    title: 'Акции',
    href: 'news.html'
    },
    {
    title: 'Отзывы',
    href: 'reviews.html'
    },
    {
    title: 'Личный кабинет',
    href: 'cabinet.html'
    },
    {
    title: 'Избранное',
    href: 'favorites.html'
    },
    {
    title: 'В сравнении',
    href: 'compare.html'
    }
    ]
    },

    ];
-
    var ipopular = [
        {
            title: 'Видеокарты',
            svg: 'cat20'
        },
        {
            title: 'Материнские платы',
            svg: 'cat7'
        },
        {
            title: 'Оперативная память',
            svg: 'cat10'
        },
        {
            title: 'Жесткие диски',
            svg: 'cat9'
        },
        {
            title: 'Звуковые карты',
            svg: 'cat6'
        },
        {
            title: 'Процессоры',
            svg: 'cat19'
        },
        {
            title: 'Система Охлаждения',
            svg: 'cat11'
        },
        {
            title: 'Сетевое оборудование',
            svg: 'cat8'
        },
        {
            title: 'Видеокарты',
            svg: 'cat20'
        },
        {
            title: 'Материнские платы',
            svg: 'cat7'
        },
        {
            title: 'Оперативная память',
            svg: 'cat10'
        },
        {
            title: 'Жесткие диски',
            svg: 'cat9'
        },
        {
            title: 'Звуковые карты',
            svg: 'cat6'
        },
        {
            title: 'Процессоры',
            svg: 'cat19'
        },
        {
            title: 'Система Охлаждения',
            svg: 'cat11'
        },
        {
            title: 'Сетевое оборудование',
            svg: 'cat8'
        },

    ];
-
    var lcats = ['Asus','Benq','C-media','Creative','Defender','Espado','Hama'];
-
    var filter1 = ['Apple (22)','Asus (31)','Samsung (6)','Sony (58)','Apple (22)','Asus (31)','Samsung (6)','Sony (58)'];
-
    var filter3 = [5,4,3,2,1];
-
    var filter4 = ['AMD A8 (23)','Dual Core (48)','Intel I3 (25)','Intel I5 (61)','AMD A8 (23)','Dual Core (48)','Intel I3 (25)','Intel I5 (61)',];
-
    var filter5 = ['<128M (25)','1.5G (10)','1G (121)','3G (63)','128M (25)','1.5G (10)','1G (121)','3G (63)',];
-
    var productList = [
        {
            name: 'Гарантия:',
            val: '36 мес.'
        },
        {
            name: 'Страна-производитель:',
            val: 'Китай'
        },
        {
            name: 'Цвет:',
            val: 'Серый, черный'
        },
        {
            name: 'Графический процессор:',
            val: 'Radeon RX 570'
        },
        {
            name: 'Объем видеопамяти:',
            val: '8 Гб'
        },
        {
            name: 'Тип памяти:',
            val: 'GDDR5'
        },
        {
            name: 'Интерфейс подключения:',
            val: 'PCI-E'
        }
    ];
-
    var productSws = [
        {
            title: 'Описание товара',
            dopClass: 'active'
        },
        {
            title: 'Отзывы о  товаре',
        },
        {
            title: 'Коментарии',
        },
        {
            title: 'Скачать драйвера',
        },
        {
            title: 'Видео и фото',
        },

    ];
-
    var productChars = [
        [
            {
                name: 'Модель',
                val: 'Sapphire AMD Radeon RX 570 PULSE'
            },
            {
                name: 'Год релиза',
                val: '2017'
            },
            {
                name: 'Основной цвет',
                val: 'Черный'
            },
            {
                name: 'Подсветка видеокарты',
                val: 'Нет'
            },

        ],
        [
            {
                name: 'Графический процессор',
                val: 'Radeon RX 570'
            },
            {
                name: 'Поддержка стандартов',
                val: 'OpenGL 4.5, Vulkan 1.0, OpenCL 2.0, DirectX 12'
            },
            {
                name: 'Количество видеочипов',
                val: '1'
            },
            {
                name: 'Технологический процесс',
                val: '14 нм'
            },

        ],
        [
            {
                name: 'Штатная частота работы видеочипа',
                val: '1168 МГц'
            },
            {
                name: 'Число текстурных блоков',
                val: '128'
            },
            {
                name: 'Число блоков растеризации',
                val: '32'
            },
            {
                name: 'Версия шейдеров',
                val: '5.0'
            },

        ]
    ];
-
    var ototalList = [
        {
            name: 'Всего товаров:',
            val: '3 шт.',
            dopClass: 'ototal__item_price'
        },
        {
            name: 'Скидка:',
            val: '0 руб.'
        },
        {
            name: 'Доставка, руб.:',
            val: '350 руб.'
        },

    ];
-
    var compareList = [
        {
            title: 'Общие параметры',
            rows:[
                {
                    name: 'Модель',
                    dopClass: 'same',
                    list: ['Sapphire AMD Radeon RX 570 PULSE','Sapphire AMD Radeon RX 570 PULSE']
                },
                {
                    name: 'Год релиза',
                    list: ['2017','2016']
                },
                {
                    name: 'Основной цвет',
                    list: ['Черный','Серый']
                },
                {
                    name: 'Подсветка видеокарты',
                    dopClass: 'same',
                    list: ['Нет','Нет']
                },
            ]
        },
        {
            title: 'Основные параметры',
            rows:[
                {
                    name: 'Линейка графических процессоров',
                    dopClass: 'same',
                    list: ['Radeon','Radeon']
                },
                {
                    name: 'Графический процессор',
                    dopClass: 'same',
                    list: ['Radeon RX 570','Radeon RX 570']
                },
                {
                    name: 'Поддержка стандартов',
                    list: ['OpenGL 4.5, Vulkan 1.0, OpenCL 2.0, DirectX 12','OpenGL 4.5, OpenCL 2.0, DirectX 11']
                },
                {
                    name: 'Количество видеочипов',
                    dopClass: 'same',
                    list: ['1','1']
                },
                {
                    name: 'Технологический процесс',
                    dopClass: 'same',
                    list: ['14 нм','14 нм']
                },
                {
                    name: 'Штатная частота работы видеочипа',
                    dopClass: 'same',
                    list: ['1168 МГц','1168 МГц']
                },
                {
                    name: 'Турбочастота',
                    list: ['1284 МГц','1560 МГц']
                },
                {
                    name: 'Число текстурных блоков',
                    dopClass: 'same',
                    list: ['128','128']
                },
                {
                    name: 'Число блоков растеризации',
                    dopClass: 'same',
                    list: ['32','32']
                },
                {
                    name: 'Версия шейдеров',
                    list: ['5.0','4.0']
                },

            ]
        },

    ];
-
    var compareListTablet = [
        [
            {
                title: 'Общие параметры',
                rows: [
                    {
                        name: 'Модель',
                        val: 'Sapphire AMD Radeon RX 570 PULSE',
                        dopClass: 'same'
                    },
                    {
                        name: 'Год релиза',
                        val: '2017',
                    },
                    {
                        name: 'Основной цвет',
                        val: 'Черный',
                    },
                    {
                        name: 'Подсветка видеокарты',
                        val: 'Нет',
                        dopClass: 'same'
                    }
                ]
            },
            {
                title: 'Основные параметры',
                rows: [
                    {
                        name: 'Линейка графических процессоров',
                        val: 'Radeon',
                        dopClass: 'same'
                    },
                    {
                        name: 'Графический процессор',
                        val: 'Radeon RX 570',
                        dopClass: 'same'
                    },
                    {
                        name: 'Поддержка стандартов',
                        val: 'OpenGL 4.5, Vulkan 1.0, OpenCL 2.0, DirectX 12',
                    },
                    {
                        name: 'Количество видеочипов',
                        val: '1',
                        dopClass: 'same'
                    },
                    {
                        name: 'Технологический процесс',
                        val: '14 нм',
                        dopClass: 'same'
                    },
                    {
                        name: 'Штатная частота работы видеочипа',
                        val: '1168 МГц',
                        dopClass: 'same'
                    },
                    {
                        name: 'Турбочастота',
                        val: '1284 МГц',
                    },
                    {
                        name: 'Число текстурных блоков',
                        val: '128',
                        dopClass: 'same'
                    },
                    {
                        name: 'Число блоков растеризации',
                        val: '32',
                        dopClass: 'same'
                    },
                    {
                        name: 'Версия шейдеров',
                        val: '5.0',
                    }
                ]
            },

        ],
        [
            {
                title: 'Общие параметры',
                rows: [
                    {
                        name: 'Модель',
                        val: 'Sapphire AMD Radeon RX 570 PULSE',
                        dopClass: 'same'
                    },
                    {
                        name: 'Год релиза',
                        val: '2018',
                    },
                    {
                        name: 'Основной цвет',
                        val: 'Красный',
                    },
                    {
                        name: 'Подсветка видеокарты',
                        val: 'Нет',
                        dopClass: 'same'
                    }
                ]
            },
            {
                title: 'Основные параметры',
                rows: [
                    {
                        name: 'Линейка графических процессоров',
                        val: 'Radeon',
                        dopClass: 'same'
                    },
                    {
                        name: 'Графический процессор',
                        val: 'Radeon RX 570',
                        dopClass: 'same'
                    },
                    {
                        name: 'Поддержка стандартов',
                        val: 'OpenGL 4.5, OpenCL 2.0, DirectX 11',
                    },
                    {
                        name: 'Количество видеочипов',
                        val: '1',
                        dopClass: 'same'
                    },
                    {
                        name: 'Технологический процесс',
                        val: '14 нм',
                        dopClass: 'same'
                    },
                    {
                        name: 'Штатная частота работы видеочипа',
                        val: '1168 МГц',
                        dopClass: 'same'
                    },
                    {
                        name: 'Турбочастота',
                        val: '1560 МГц',
                    },
                    {
                        name: 'Число текстурных блоков',
                        val: '128',
                        dopClass: 'same'
                    },
                    {
                        name: 'Число блоков растеризации',
                        val: '32',
                        dopClass: 'same'
                    },
                    {
                        name: 'Версия шейдеров',
                        val: '4.0',
                    }
                ]
            },

        ]
    ];
-
    var contactsDetails = [
        {
            name: 'Наименование:',
            val: 'ООО «Супер компания»',
            dopClass: 'first'
        },
        {
            name: 'ИНН:',
            val: '0278000022',
        },
        {
            name: 'КПП:',
            val: '027811011',
        },
        {
            name: 'ОГРН:',
            val: '1030224552966',
        },
        {
            name: 'Р.счет:',
            val: '40632810206000050025',
        },
        {
            name: 'Кор.счет:',
            val: '30101810600000500957',
        },
        {
            name: 'БИК:',
            val: '046526569',
        },
        {
            name: 'Банк:',
            val: 'ОАО «Точкабанк», г. Москва.\n',
        },
        {
            name: 'Ген. директор:',
            val: 'Семенов Алексей Юрьевич\n',
            dopClass: 'last'
        },

    ];
-
    var awhy = ['Команда <br> профессионалов','Быстрые сроки <br> доставки','Гибкая система <br> скидок','Высокий уровень <br> обслуживания','Конкурентные <br> цены','Техническая <br> поддержка']
-
    var socials = [
        {
            bg: '#1e6590',
            href: 'https://vk.com/'
        },
        {
            bg: '#1060a2',
            href: 'https://www.facebook.com/'
        },
        {
            bg: '#7a5e4c',
            href: 'http://instagram.com/'
        },
        {
            bg: '#ff7f12',
            href: 'https://ok.ru/'
        },
        {
            bg: '#00b8ed',
            href: 'https://twitter.com/'
        }
    ];