-
    var menu = [
    {
    title: 'Новости',
    href: 'news.html'
    },
    {
    title: 'Акции',
    href: 'news.htmk'
    },
    {
    title: 'Отзывы',
    href: 'reviews.html'
    }
    ];
-
    var hcontacts = [
    {
    name: 'Телефон',
    href: 'tel:+7(495)260-12-35',
    val: '+7 (495) 260-12-35'
    },
    {
    name: 'E-mail',
    href: 'mailto:info@bitmarket.ru',
    val: 'info@bitmarket.ru'
    },
    {
    name: 'Адрес',
    href: 'https://yandex.ru/maps/-/CGWV5UnB',
    val: 'г. Москва, ул. 2-я Новорублевская, д.13А'
    }
    ];
-
    var nav = [
    {
    title: 'Главная',
    href: '/'
    },
    {
    title: 'О компании',
    href: 'about.html',
    dopClass: 'active',
    submenu: true
    },
    {
    title: 'Оплата',
    href: 'info.html'
    },
    {
    title: 'Доставка',
    href: 'info.html'
    },
    {
    title: 'Гарантии',
    href: 'info.html'
    },
    {
    title: 'Контакты',
    href: 'contacts.html'
    }
    ];
-
    var menu2 = [
    {
    title: 'Видеокарты',
    svg: 'cat20'
    },
    {
    title: 'Жесткие диски (HDD), SDD',
    svg: 'cat20'
    },
    {
    title: 'Звуковые карты',
    svg: 'cat6'
    },
    {
    title: 'Материнские платы',
    svg: 'cat7'
    },
    {
    title: 'Оперативная память',
    svg: 'cat10'
    },
    {
    title: 'Процессоры',
    svg: 'cat19'
    },
    {
    title: 'Система охлаждения',
    svg: 'cat11'
    }
    ];
-
    var fmenu = [
    {
    title: 'Компания',
    list:[
    {
    title: 'Главная',
    href: '/'
    },
    {
    title: 'О компании',
    href: 'about.html'
    },
    {
    title: 'Оплата',
    href: 'info.html'
    },
    {
    title: 'Доставка',
    href: 'info.html'
    },
    {
    title: 'Гарантии',
    href: 'info.html'
    },
    {
    title: 'Контакты',
    href: 'contacts.html'
    }
    ]
    },
    {
    title: 'Клиенту',
    list:[
    {
    title: 'Новости',
    href: 'news.html'
    },
    {
    title: 'Акции',
    href: 'news.html'
    },
    {
    title: 'Отзывы',
    href: 'reviews.html'
    },
    {
    title: 'Личный кабинет',
    href: 'cabinet.html'
    },
    {
    title: 'Избранное',
    href: 'cabinet.html'
    },
    {
    title: 'В сравнении',
    href: 'cabinet.html'
    }
    ]
    },

    ];
-
    var ipopular = [
        {
            title: 'Видеокарты',
            svg: 'cat20'
        },
        {
            title: 'Материнские платы',
            svg: 'cat7'
        },
        {
            title: 'Оперативная память',
            svg: 'cat10'
        },
        {
            title: 'Жесткие диски',
            svg: 'cat9'
        },
        {
            title: 'Звуковые карты',
            svg: 'cat6'
        },
        {
            title: 'Процессоры',
            svg: 'cat19'
        },
        {
            title: 'Система Охлаждения',
            svg: 'cat11'
        },
        {
            title: 'Сетевое оборудование',
            svg: 'cat8'
        },
        {
            title: 'Видеокарты',
            svg: 'cat20'
        },
        {
            title: 'Материнские платы',
            svg: 'cat7'
        },
        {
            title: 'Оперативная память',
            svg: 'cat10'
        },
        {
            title: 'Жесткие диски',
            svg: 'cat9'
        },
        {
            title: 'Звуковые карты',
            svg: 'cat6'
        },
        {
            title: 'Процессоры',
            svg: 'cat19'
        },
        {
            title: 'Система Охлаждения',
            svg: 'cat11'
        },
        {
            title: 'Сетевое оборудование',
            svg: 'cat8'
        },

    ];
-
    var lcats = ['Asus','Benq','C-media','Creative','Defender','Espado','Hama'];
-
    var filter1 = ['Apple (22)','Asus (31)','Samsung (6)','Sony (58)','Apple (22)','Asus (31)','Samsung (6)','Sony (58)'];
-
    var filter3 = [5,4,3,2,1];
-
    var filter4 = ['AMD A8 (23)','Dual Core (48)','Intel I3 (25)','Intel I5 (61)','AMD A8 (23)','Dual Core (48)','Intel I3 (25)','Intel I5 (61)',];
-
    var filter5 = ['<128M (25)','1.5G (10)','1G (121)','3G (63)','128M (25)','1.5G (10)','1G (121)','3G (63)',]